.container   {
    margin-left: auto;
    margin-right: auto;
   //  padding-left: 15px;
   //  padding-right: 15px;

    width: 100%;    

    }

.container-clients { padding-top: 60px; }

.container-header {
   display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px; 
   
    box-sizing:border-box; 
    // width: 480px;

   //  @media screen and (min-width:480px) {width: 480px ;
   //      max-height: 94px;
   //  }
}