.section {
    padding-bottom: 60px;
    padding-top: 60px;
    // padding-left: 15px;
    // padding-right: 15px;

    
}


.section-comand {
  background: var(--background-button);
  padding-bottom: 60px; 
  padding-top: 60px; 
  padding-left: 15px;
  padding-right: 15px;

  }


.section-studia { padding-top: 60px;
  padding-left: -15px;
  
}

.section-work{
  display: none;
}

.section-clients { padding-top: 60px;

}