.section {
    padding-bottom: 60px;
    padding-top: 60px;
    // padding-left: 15px;
    // padding-right: 15px;

    @media screen and (min-width: 1200px) {padding-bottom: 94px;
      padding-top: 94px;}
}


.section-comand {
  background: var(--background-button);
  padding-bottom: 60px; 
  padding-top: 60px; 
  padding-left: 15px;
  padding-right: 15px;


  @media screen and (min-width: 768px) { padding-left: 0;
    padding-right: 0;}


  @media screen and (min-width: 1200px) {padding-bottom: 94px;
    padding-top: 94px;}
  }


.section-studia { padding-top: 60px; padding-bottom: 60px;
 
  
  @media screen and (min-width:768px) {
  padding-bottom: 60px;}

  @media screen and (min-width: 1200px) 
    {padding-top: 94px;  padding-bottom:0;}
}

.section-work{
  display: none;
  @media screen and (min-width: 1200px) {display: flex;
    padding-bottom: 94px;
    padding-top: 94px;}
}

.section-clients { padding-top: 60px; padding-bottom: 60px;

  @media screen and (min-width: 1200px) {padding-bottom: 94px;
    padding-top: 94px;}
}