:root {--primary_text-color: #757575; 
    --title-color: #212121;
    --accent-color: #2196F3; 
    --button-color: #FFFFFF;
    --background-title:#2F303A;
    --background-button: #F5F4FA;
    --button-o:#188CE8;
    --social-icon:  #AFB1B8;

    @media screen and (min-width: 768px)
    {
    --header-width: 768px;
    --items: 2; 
    --indent: 30px;     
    }

    @media screen and (min-width: 1200px)
    {
    --header-width: 1200px;
    --items: 3;         
    --indent: 30px;     
    }
    }

   