.clients {display: flex;
    font-size: 36px;
    line-height: 1.16;
    padding: 0;
    text-align: center;

&__item:not(:last-child) {margin-right: 30px;}

&__item { width: 170px; height:92px;}

&__icon {fill: currentColor;}



&__icon:hover,
&__icon:focus {color: var(--accent-color);
    border-color: var(--accent-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__link { display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color:  #AFB1B8;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
&__link:hover,
&__link:focus {color: var(--accent-color);
    border-color: var(--accent-color);
    
}


}

