.h2-title {color: var(--title-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center; 
    margin-bottom: 50px;
    margin-top: 0;
    }

.comands {background: var(--background-button);
        display: flex; padding-left: 0; }

.comand-list {background-color: var(--button-color);
        text-align: center;
        margin-right: 30px; 
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;



    &__title { 
        font-family: inherit;
        color: var(--title-color); 
        font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-decoration: none;
    margin-bottom: 10px;
    margin-top: 0;
    
    }
    
    &__item {padding-top: 30px; padding-bottom: 30px;}

    &__text { color: var(--primary_text-color);
        font-family: inherit;
        text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-decoration: none;
    
    }
   

        }
    
  