.logo {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-style: normal;
    color: var(--accent-color);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;

   @media screen and (min-width:768px)
  { margin-right: 35px;}


    @media screen and (min-width:1200px) {
    margin-right: 40px; font-size: 26px;
    }
    }

.logo-web {color: var(--title-color); font-style: normal;}


.header .logo {color: var(--accent-color); 
    display: block; 
    padding-top: 16px; padding-bottom: 16px;

    @media screen and (min-width: 768px) {  padding-top: 0; padding-bottom: 0; }
    @media screen and (min-width: 1200px) {  padding-top: 0; padding-bottom: 0; }

    // padding-top: 32px; padding-bottom: 32px;
}

.footer-logo {display: flex;
    justify-content: center;
    
    font-family: "Ralevey", sans-serif;
    text-decoration: none;
    font-style: normal;
    color: var(--accent-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    @media screen and (min-width: 1200px) {display: flex;  justify-content: flex-start; }
}
.footer span {color: var(--button-color);}