.modal-form {  padding: 40px;


&__title {font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;
            
    margin: 0;
    
}
&__input { 
    width: 100%;
    height: 40px;
    
    padding-left: 40px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
}

&__coment::placeholder{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    
    color: rgba(117, 117, 117, 0.5);
}


&__input:focus,
&__coment:focus  { 
    outline:var(--accent-color);
    border: 1px solid #188CE8;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
&__input:focus + svg {
    border-color: var(--accent-color);
   
    
    fill:#2196F3;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }

&__list {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    
    letter-spacing: 0.01em;

    color: #757575;

    padding-bottom: 4px;
    padding-top: 10px;
    
}

&__list:not(:last-child) {display: block;
  }

&__icon { position: absolute;
    left: 40px;
 transform: translate( 100%, 100%);
}

}


textarea {  display: block;
    resize: none;
    width: 100%;
    height: 120px;

    padding: 12px 16px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;}


    
    
    

